@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: rgb(89, 89, 89);
}


.inputsContainer {
  display: flex;
  justify-content: space-around;
  margin: 5vh 2vw;
  padding: 5vh 2vw;
  border: 3px dashed black;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  padding: 0.2vw;
  cursor: pointer;
}


.booksBox {
  display: flex;
  flex-wrap: wrap;
}

.eachBookBox {
  background-color: rgb(180, 180, 180);
  margin: 1vw;
  padding: 5vh 3vw;
  text-align: center;
}

.lowerBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.allBooksLink {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: x-large;
  padding: 1vw;
}

.allBooksLink:hover {
  background-color: rgb(49, 49, 49);
}

.linksBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}

.searchWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10vh 5vw 3vh;
  height: 10vh;
}

.authorPageInput {
    width: 60vw;
    font-size: xx-large;
    border-radius: 15px;
    border: 1px solid black;
}

.authorPageButton {
  width: 10vw;
  border: none;
  color: white;
  background-color: black;
  font-size: x-large;
}

.authorPageButton:hover {
  background-color: rgb(49, 49, 49);
}

.res{
  color: red;
  height: 3vh;
  width: 25vw;
  font-size: small;
}